@font-face {
    font-family: 'Figtree';
    src: local('Figtree Medium'), local('Figtree-Medium'),
        url('../fonts/Figtree-Medium.woff2') format('woff2'),
        url('../fonts/Figtree-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: local('Figtree Regular'), local('Figtree-Regular'),
        url('../fonts/Figtree-Regular.woff2') format('woff2'),
        url('../fonts/Figtree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}