:root {
  --general-text: #1D1F1E;
  --accent-text: #646A69;
  --logo-text: #929C9A;
  --general-bg: #FFF7ED;
  --white-color: #FFFFFF;
  --dark-bg: #022C22;
  --accent-color: #BEF264;
  --accent-color-2: ;
  --transition: all .4s;
  --border-radius: 18px;
}


.body {
  font-family: "Figtree", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  background: var(--general-bg);
  letter-spacing: -0.064px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}



/* .button {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
  border-radius: 60px;
  padding: 3px 15px;

  transition: var(--transition);
}

.button:hover {
  background: #FF9138;
} */