* {
  background: #333;
}

p {
  font-size: 30px;
  color: #fff;
}

.rectangle {
  background: #fff;
  height: 100px;
  width: 46.5vw;
  border-radius: 20px;

  position: sticky;
  right: 50px;
  left: 50%;
  bottom: 100px;
}

.round {
  background: #ff0000;
  height: 100px;
  width: 100px;
  border-radius: 50%;

  position: absolute;
  left: 15%;
  top: -50%;
}
