.block-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
}

.block-2 {
  text-decoration: line-through;
}

.block-3 {
  text-transform: uppercase;
  text-align: center;
}

.block-4 {
  text-decoration: overline wavy;
  word-spacing: 30px;
  text-shadow: 0.5px 0.5px 0.5px #e65ad8;
}

.block-5 {
  letter-spacing: 5px;
  text-decoration: underline double;
}

.block-6 {
  font-family: "Rubik Gemstones", system-ui;
  text-transform: capitalize;
  text-indent: 300px;
  white-space: nowrap;
}