:root {
  --general-text: #1D1F1E;
  --accent-text: #646A69;
  --logo-text: #929C9A;
  --general-bg: #FFF7ED;
  --white-color: #FFFFFF;
  --dark-bg: #022C22;
  --accent-color: #BEF264;
  --accent-color-2: ;
  --transition: all .4s;
  --border-radius: 18px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.body {
  font-family: "Figtree", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  background: var(--general-bg);
  letter-spacing: -0.064px;
  color: var(--general-text);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  border: 1px solid var(--white-color);
  border-radius: 200px;
  padding: 12px 20px;
  font-size: 18px;
  display: block;
}