/* ======= HEADER ============================================== */

.header {
  background: var(--dark-bg);
  color: var(--white-color);
  font-weight: 500;
}

.header__top {
  padding: 24px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__logo {
  max-width: 107px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.header__logo img {
  width: 100%;
}

.header__logo-text {
  color: var(--white-color);
  font-size: 30px;
}

.header__menu {
  display: flex;
  gap: 40px;
}


.nav {
  align-self: center;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 32px;
}

.nav__link {
  display: block;
  padding: 5px 0;
  transition: var(--transition);

}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__links {
  display: none;
}

.header__button {
  transition: var(--transition);
}

.header__button:hover {
  background: #064e3b;
}

.header__button:active {
  border: 2px solid var(--white-color);
  border-radius: 200px;
  box-shadow: 0px 0px 0px 2px #022c223d;
  background: var(--dark-bg);
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;

  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  background: var(--white-color);
  border-radius: 100px;

  transition: var(--transition);
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: -8px
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0;
  transform: rotate(45deg);
  background: var(--general-text);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0;
  transform: rotate(-45deg);
  background: var(--general-text);
}


/* ======= HERO ============================================== */

.hero {
  background: var(--dark-bg);
  color: var(--white-color);
  padding-top: 72px;
  position: relative;
  overflow: hidden;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 300px;
}

.hero__content {
  max-width: 592px;
}

.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  background: linear-gradient(180.00deg, #022c2200 27.342%, #022c22 98.49%);
  bottom: 0%;
  left: 0%;
  z-index: 2;
}

.hero__subtitle {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.hero__title {
  font-size: 96px;
  line-height: .9;
  letter-spacing: -5px;
  text-align: center;
  padding: 24px 0 32px;
}

.hero__text {
  font-size: 18px;
  text-align: center;

}

.hero__buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.hero__button-1 {
  background: var(--accent-color);
  padding: 16px 24px;
  color: var(--general-text);
  border: none;
  font-size: 18px;
  font-weight: 500;
  transition: var(--transition);
}

.hero__button-1:hover {
  background: #a3e635;
}

.hero__button-1:active {
  border: 2px solid #ffffff inset;
  box-shadow: 0px 0px 0px 2px #022c223d;
  background: var(--accent-color);
}

.hero__button-2 {
  padding: 16px 24px;
  transition: var(--transition);
}

.hero__button-2:hover {
  background: #064e3b;
}

.hero__button-2:active {
  border: 2px solid #ffffff;
  border-radius: 200px;
  box-shadow: 0px 0px 0px 2px #022c223d;
  background: var(--dark-bg);
}

.hero__imgs {
  z-index: 1;
}

.hero__img img {
  border-radius: var(--border-radius);

}

.hero__img {
  position: absolute;
  overflow: hidden;
}

.hero__img-1 {
  top: 17%;
  left: 1.5%;
}

.hero__img-2 {
  top: 10%;
  right: -1%;
}

.hero__img-3 {
  bottom: -22%;
  left: 17%;
}

.hero__img-4 {
  bottom: -11%;
  right: 8%;
}

/* ======= LOGOS ============================================== */

.logos {
  background: var(--dark-bg);
  padding: 96px 112px;
  border-bottom: 1px solid #d9dedd;
  border-top: 1px solid #d9dedd;
}


.logos__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px
}

.logos__text {
  color: var(--white-color);
  font-weight: 500;
}

.logos__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 91px;
}

.logos__item {
  color: var(--logo-text);
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}



/* ======= MEDIA ============================================== */

@media (max-width: 1300px) {
  .hero__img img {
    max-width: 90%;
  }

  .hero__img-1 {
    left: 0%;
  }

  .hero__img-2 {
    right: -3%;
  }

  .hero__img-3 {
    bottom: -18%;
  }

  /* ================================================= */


  .logos__list {
    gap: 50px;
  }

  .logos__item {
    font-size: 16px;
    gap: 4px;
  }
}

@media (max-width: 1200px) {
  .hero__inner {

    padding-bottom: 200px;
  }

  .hero__img img {
    max-width: 70%;
  }

  .hero__img-2 {
    right: -8%;
  }

  .hero__img-3 {
    bottom: -15%;
  }

  .hero__img-4 {
    bottom: -10%;
    right: 3%;
  }

  /* ================================================= */


  .logos {
    padding: 70px 75px;
  }
}

@media (max-width: 1100px) {

  .hero__img img {
    max-width: 60%;
  }

  .hero__img-2 {
    right: -14%;
  }

  .hero__img-3 {
    bottom: -10%;
  }

  .hero__img-4 {
    bottom: -6%;
    right: 0%;
  }

  /* ================================================= */

  .logos {
    padding: 60px 40px;
  }

  .logos__list {
    gap: 50px;
  }

  .logos__item {
    font-size: 12px;
    gap: 4px;
  }
}

@media (max-width: 1000px) {
  .hero__inner {

    padding-bottom: 100px;
  }

  .hero__img img {
    display: none;
  }

  .hero::before {
    display: none;
  }

  /* ================================================= */

}

@media (max-width: 900px) {

  .nav__links {
    width: 100%;
    display: flex;
    align-self: end;
    justify-content: space-between;
    gap: 70px;
    margin-left: -83px;
  }

  .nav__links-letter {
    color: #1A1919;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .nav__links-socials {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .nav__links-img {
    vertical-align: middle;
  }

  .nav {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 10;
    background: var(--white-color);

    padding: 22vh 30px 30px;
    font-size: 20px;

    display: flex;
    align-items: start;
    align-self: stretch;
    justify-content: start;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    align-items: start;
    color: var(--dark-bg);

  }

  .body--opened-menu .nav {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .header__logo {
    z-index: 12;
  }

  .header__button {
    display: none;
  }

  .burger-icon {
    display: flex;
  }

  /* ================================================= */

  .hero__title {
    font-size: 85px;
  }


  /* ================================================= */

  .logos {
    padding: 40px 40px;
  }

  .logos__inner {
    justify-content: space-around;
    gap: 100px;
  }

  .logos__text {
    align-self: center;
  }

  .logos__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

}

@media (max-width: 700px) {

  .hero {
    padding-top: 30px;
  }

  .hero__inner {
    padding-bottom: 50px;
  }

  .hero__title {
    font-size: 72px;
  }

  .hero__text {
    font-size: 15px;
  }

  /* ================================================= */

  .logos {
    padding: 40px 15px;
  }

  .logos__inner {
    justify-content: space-between;
    gap: 40px;
  }

  .logos__list {
    gap: 30px;
  }

  .logos__text {
    font-size: 14px;
  }

  .logos__item {
    font-size: 10px;
  }


  /* ================================================= */

}

@media (max-width: 500px) {
  .nav__links {
    gap: 30px;
  }

  .nav__links-letter p {
    font-size: 14px;
  }

  /* ================================================= */

  .hero__subtitle {
    font-size: 12px;
  }

  .hero__title {
    font-size: 56px;
  }

  .hero__text {
    font-size: 13px;
  }

  .hero__button-1,
  .hero__button-2 {
    padding: 12px 16px;
    font-size: 12px;
  }

  /* ================================================= */

  .logos__inner {
    flex-direction: column;
  }

  .logos__item {
    justify-self: center;
  }


  /* ================================================= */

}